
Scripts/mxLib/*
Scripts/exports/*
Scripts/builds/*
Scripts/buildreport.txt
*/javasource/*/proxies/*
*/javasource/system/
*/javasource/core/
*/javasource/com/
*/deployment/
*/.project
*/.classpath
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
*/GPUCache/